<!-- Thymeleaf fragment, namespace defined in main template -->
<div>
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>Author Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${favAuthors}">
                <td>
                    <a
                        th:href="@{/author(id=${author.authorId})}"
                        th:text="${author.firstName} + ' ' + ${author.lastName}">
                        Author Name
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
