<!-- Thymeleaf fragment, namespace defined in main template -->
<div>
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>Book Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${recs}">
                <td>
                    <a th:href="@{/book(isbn=${book.isbn})}" th:text="${book.title}"> Book Title </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
